<!DOCTYPE html>
<html ng-app="manipulareApp" >

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Manipulare</title>

    <!-- Bootstrap Core CSS -->
    <link href="src/libraries/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="src/assets/css/simple-sidebar.css" rel="stylesheet">
    <link href="src/assets/css/style.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="src/libraries/angular/angular.js" type="text/javascript"></script>
    <script src="src/controllers/querycontroller.js" type="text/javascript"></script>
</head>
<body>


<div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Manipulare
                    </a>
                </li>
                <li>
                    <a href="#">Overview</a>
                </li>
                <li>
                    <a href="#"></a>
                </li>
                <li>
                    <a href="index.html">Companies</a>
                </li>
                <li>
                    <a href="querying.html">Querying</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content
            Make sure to keep the content between the #page-container-wrapper.
        -->
        <div id="page-content-wrapper" ng-controller="queryController as query">
            <div class="container-fluid">
                <a href="#menu-toggle" class="btn btn-default col-lg-1" style="padding-bottom: 5px;" id="menu-toggle"><i class="glyphicon glyphicon-menu-hamburger"></i></a>
                <div class="row" style="padding-top: 5px;">
                    <div class=" col-lg-12" >

                            <h1>MDIW - Querying</h1>

                        <div class="col-lg-12 row">
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    Querying
                                </div>
                                <div class="panel-body">
                                    <textarea id="query" class="form-control" rows="3" tabindex="100" cols="40" placeholder="Enter query here..."></textarea>
                                    <button ng-click="querySubmit()" type="button" class="btn btn-primary margin-tlr-5" ng-model="button">Execute query</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 row">
                            <div class="panel panel-warning">
                                <div class="panel-heading">
                                    Query result
                                </div>
                                <div class="panel-body">
                                    <span>The query result will appear here...</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->
    <script src="src/libraries/jquery/jquery-1.12.1.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="src/libraries/bootstrap/js/bootstrap.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });


    </script>
</body>
</html>